<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd">

	<util:properties id="configConnProp" location="classpath*:conn-config.properties" />

	<import resource="classpath*:simple-queue-config.xml" />
	<import resource="classpath*:simple-topic-config.xml" />
	<import resource="classpath*:integr-queue-config.xml" />
	<import resource="classpath*:integr-topic-config.xml" />

	<bean id="jndiTemplate" class="org.springframework.jndi.JndiTemplate">
		<property name="environment">
			<props>
				<prop key="java.naming.factory.url.pkgs">#{configConnProp['connection.wildfly.general.url_pkg_prefixes']}</prop>
				<prop key="jboss.naming.client.ejb.context">#{configConnProp['connection.wildfly.general.context']}</prop>
				<prop key="java.naming.factory.initial">#{configConnProp['connection.wildfly.general.initial_context_factory']}</prop>
				<prop key="java.naming.provider.url">#{configConnProp['connection.wildfly.general.provider_url']}</prop>
			</props>
		</property>
	</bean>

	<bean id="jndiConnectionFactory" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiTemplate" ref="jndiTemplate" />
		<property name="jndiName" value="jms/RemoteConnectionFactory" />
	</bean>

	<bean id="connectionFactoryQueue" class="org.springframework.jms.connection.UserCredentialsConnectionFactoryAdapter">
		<property name="targetConnectionFactory" ref="jndiConnectionFactory" />
		<property name="username" value="#{configConnProp['connection.wildfly.queue.user']}"></property>
		<property name="password" value="#{configConnProp['connection.wildfly.queue.pass']}"></property>
	</bean>
	
	<bean id="connectionFactoryTopic" class="org.springframework.jms.connection.UserCredentialsConnectionFactoryAdapter">
		<property name="targetConnectionFactory" ref="jndiConnectionFactory" />
		<property name="username" value="#{configConnProp['connection.wildfly.topic.user']}"></property>
		<property name="password" value="#{configConnProp['connection.wildfly.topic.pass']}"></property>
	</bean>	

	<bean id="marshallerTopicBean" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
		<property name="packagesToScan">
			<list>
				<value>com.abelhzo.activemq.dto</value>
			</list>
		</property>
	</bean>

	<!-- Converter para en JmsTemplate -->
	<bean id="messageConverter" class="org.springframework.jms.support.converter.MarshallingMessageConverter">
		<property name="marshaller" ref="marshallerTopicBean" />
		<property name="unmarshaller" ref="marshallerTopicBean" />
	</bean>

</beans>
